.chat{
display: flex;
flex-direction: column;
flex: 65%;
}

.chat_avatar{
display: flex;
padding: 20px;
align-items: center;
border-bottom: 1px solid lightgray;   
}

.chat_header_info{
flex: 1;
padding-left: 20px;
}

.chat_header_info > p {
color: gray;
}

.chat_header_icons{
font-weight: 500;
}
